doctype html
html(lang="eng")
    head
        title Sale Game Online
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='icon' href='http://icons.iconarchive.com/icons/flat-icons.com/flat/256/Gamepad-icon.png')
    body
        nav.navbar.navbar-expand-md.navbar-dark.fixed-top(style='background-color: #ec1313;')
            a.navbar-brand(href='/store') Sale Game Online
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    - for(var x=0;x<type.length;x++)
                        li.nav-item
                            a.nav-link(href='/store/type/'+type[x].no) #{type[x].name}
                ul.nav.navbar-nav.navbar-right
                    li.nav-item
                        .topnav
                            .search-container
                                form(method='GET', action='/game/')
                                    input(type='text', placeholder='Search..', name='search')
                                    button(type='submit') Submit
                    li.nav-item
                        a.nav-link(href='#') User
        .container-fluid
            block content
            br
            br
            br
            hr
            footer
                center
                    p Copyright &copy; 2018
        script(src='/js/jquery-3.2.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/main.js')
        script(src='http://getbootstrap.com/assets/js/vendor/popper.min.js')
        script(src='http://getbootstrap.com/dist/js/bootstrap.min.js')